node_modules
.data
data
logs
/*.txt
stderr.log
stdout.log
*.out
*.txt
*.log
*.db
*.sqlite
*.sqlite3
http-server.pid
http-server
.vscode
*.db
*.db-shm
*.db-wal

package.json
package-lock.json
.DS_Store