release
node_modules
.data
.logs
data
logs
scratch
/*.txt
stderr.log
stdout.log
*.out
*.txt
*.log
*.db
*.sqlite
*.sqlite3
beba.pid
beba
beba_test
beba_test_bin
.vscode
*.db
*.db-shm
*.db-wal

package.json
package-lock.json
.DS_Store

